.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #131212;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger div {
    height: 3px;
    background-color: #070707;
    border-radius: 5px;
}
