.revenue-card {
    background-color: #F25e3d;
    padding:20px;
    border-radius: 20px;
    color:white;
    text-align: center;
    position: relative;
  }
  
  .revenue-text{
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 50px;
    display: inline-block;
    background-color: #000;
   
  }
  .percentage{
    font-size: 95px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: 600;
    
  }

  .description{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
  }

  .chart {
    margin: 80px 0;
    position:relative;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  

  
