.revenue-card {
    background-color: #FF5722;
    padding:20px;
    border-radius: 10px;
    color:white;
    text-align: center;
    position: relative;
  }
  
  .revenue-text, .percentage, .description, .chart-label {
    margin-bottom: 10px;
  }
  
  .chart {
    margin: 20px 0;
    position:relative;
  }
  
  .chart-bar {
    width: 40%;
    height: 100px;
  }
  
  .chart-bar.positive {
    background-color: #4CAF50;
    margin-bottom: 3px;
  }
  
  .chart-bar.negative {
    background-color: black;
    margin-bottom:2px;
  }
.divider{
    border:none;
 border-top:1px black;
 margin:0;
}

